*.zip
*.tif
*.png
*.jpg
*.csv
*.tfrec
venv
__pycache__
wandb
*.pth
*.out
*.pt
test/
train/
*.keras
lightning_logs*
weights
*.log
logs
train-1.zarr
train-2.zarr
train-3.zarr
*.mp4
compress_data
*.ckpt
